[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim/vim/bundle/Vundle.vim"]
	path = vim/vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
[submodule "vim/vim/bundle/gruvbox"]
	path = vim/vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "vim/vim/bundle/vim-elixir"]
	path = vim/vim/bundle/vim-elixir
	url = git@github.com:elixir-editors/vim-elixir.git
[submodule "vim/vim/bundle/nerdtree"]
	path = vim/vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/vim/bundle/supertab"]
	path = vim/vim/bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "vim/vim/bundle/fzf.vim"]
	path = vim/vim/bundle/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule "vim/vim/bundle/fzf"]
	path = vim/vim/bundle/fzf
	url = git@github.com:junegunn/fzf.git
